*{
    font-family: Roboto, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-color:rgb(229, 225, 225);
}

#relative{
    position: relative;;
}

#beachimage{
    width: 100%;
}

#photoword{
    position: absolute;
    font-size: 50px;
    font-color: white;
    top: 30%;
    left: 20%;
}

.capitais{
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    align-items: space-around;
    padding: 50px;

    background-color:rgb(241, 241, 241);
}

.capitais > div{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(34, 34, 34);
}

.capitais > img{
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 10%;
}

.capitais > div div:last-child{
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.quadrados{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado1{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100px;
}

.quadrado2{
    background-color:gray;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100px;
}

.quadrado3{
    background-color: burlywood;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100px;
}

.quadrado1:hover{
    visibility: hidden;
}

.quadrado2:hover{
    visibility: hidden;
}

.quadrado3:hover{
    visibility: hidden;
}

.quadrado1 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado2 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado3 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmenu{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

a{
    text-decoration: none;
    color: aqua;
    padding: 20px;
}
a:hover{
    background-color: rgb(218, 218, 218);
    font-weight: bold;
}