{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="containercontactos">

        <p><a href="https://www.linkedin.com/in/guilherme-sim%C3%A3o-bb8551235/" target="_blank">LinkedIn</a></p>
        <p><a href="https://github.com/guigasthepro" target="_blank">GitHub</a></p>
        <p><a href="https://www.instagram.com/seu-nome-aqui/" target="_blank">Instagram</a></p>
        <p><a href="https://www.facebook.com/seu-nome-aqui/" target="_blank">Facebook</a></p>

    <p>Olá a todos, eu chamo-me Guilherme e moro em Queluz.</p>

</div>


<div class="video-background">
    <div class="video-foreground">
        <video autoplay muted loop>
            <source src="videos/background.mp4" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}