<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="hero">
    <div class="hero-content">
        <h1>Bem vindo ao meu Portefólio</h1>
        <p>Aprender é uma jornada interminável. Mantenha-se curioso e nunca pare de explorar.</p>
    </div>
</div>

<article class="scroll-element">
    <section id="about">
        <div class="container">
            <h1>Guilherme Simão</h1>
            <p>Olá!, eu chamo-me Guilherme e tenho 19 anos, estou atualmente a tirar a Licenciatura de Engenharia Informática.</p>
        </div>
    </section>
</article>

<article class="scroll-element">
    <section id="about">
        <div class="container">
            <h2>Sobre mim</h2>
            <p>Estudante Universitário</p>
            <p>Include information about:</p>
            <ul>
                <li>Motivations for choosing your course</li>
                <li>What you have enjoyed learning the most in the course</li>
                <li>Expectations for after completing the course</li>
                <li>Hobbies and interests</li>
            </ul>
        </div>
    </section>
</article>

{% endblock %}