{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Projetos Escolares</h1>
    <p class="projetos">Projetos desenvolvidos no âmbito escolar:</p>
    <ul class="ulprojetos">
        <li class="liprojetos">
            <strong>MineSweeper:</strong> Projeto de 1º Ano de FP
            <br>
            <span class="spanprojetos">Descrição: Criar um jogo semelhante ao MineSweeper.</span>
        </li>

        <li class="liprojetos">
            <strong>DeisiFlix:</strong> Projeto de 1º Ano de AED
            <br>
            <span class="spanprojetos">Descrição: Fazer um projeto semelhante à netflix em consola.</span>
        </li>
    </ul>
</div>

{% endblock %}