{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Projetos Pessoais</h1>
    <p class="projetos">Projetos desenvolvidos no âmbito pessoal:</p>
    <ul class="ulprojetos">

        <li class="liprojetos">
            <strong class="strongprojetos">Ourivesaria - DOS:</strong>
            <br>
            <span class="spanprojetos">Descrição: Programa em consola que permitia supostamente a gestão de uma ourivesaria.</span>
        </li>

        <li class="liprojetos">
            <strong class="strongprojetos">Ourivesaria Simão - Forms:</strong>
            <br>
            <span class="spanprojetos">Descrição: Segunda versão do projeto, no qual consistia pretendia ter uma interface melhor e mais utilidades.</span>
        </li>

        <li class="liprojetos">
            <strong class="strongprojetos">GoldYAN:</strong>
            <br>
            <span class="spanprojetos">Descrição: Programa desenvolvido em WEB , sucedor da Ourivesaria Simão, programa realizado em web, que pela primeira vez permite a Gestão de uma Ourivesaria</span>
        </li>

        <li class="liprojetos">
            <strong class="strongprojetos">OverDrive Mileage APP:</strong>
            <br>
            <span class="spanprojetos">Descrição: Programa desenvolvido em WEB , especifico para a OverDrive, com intenção da gestão da kilometragem e peças e carros</span>
        </li>
    </ul>
</div>


{% endblock %}