{% extends 'portfolio/layout.html' %}

{% block main %}


    <div class="wrapper">
        <h1 class="h1projetos">Projetos Final de Curso</h1>
        <p class="projetos">Top 6 Projetos Finais:</p>
        <ul class="ulprojetos">
            <li class="liprojetos">
                <strong class="strongprojetos">HTML:</strong> Hypertext Markup Language
                <br>
                <span class="spanprojetos">Ano de criação: 1991</span>
                <span class="spanprojetos">Criador: Tim Berners-Lee</span>
                <span class="spanprojetos">Link para site oficial: <a class="aprojetos" href="https://www.w3.org/html/">HTML</a></span>
                <span class="spanprojetos">Descrição: HTML é a linguagem de marcação utilizada para criar páginas web. É composta por uma série de elementos, como tags e atributos, que definem o conteúdo e a estrutura da página.</span>
            </li>

            <li class="liprojetos">
                <strong class="strongprojetos">CSS:</strong> Cascade Style Sheet
                <br>
                <span class="spanprojetos">Ano de criação: 1996</span>
                <span class="spanprojetos">Criador: Håkon Wium Lie</span>
                <span class="spanprojetos">Link para site oficial: <a class="aprojetos" href="https://www.w3.org/Style/CSS/">CSS</a></span>
                <span class="spanprojetos">Descrição: CSS é uma linguagem utilizada para estilizar páginas web. Permite definir a aparência de elementos HTML, como fontes, cores, bordas, margens e posicionamento.</span>
            </li>

            <li class="liprojetos">
                <strong class="strongprojetos">JS:</strong> JavaScript
                <br>
                <span class="spanprojetos">Ano de criação: 1995</span>
                <span class="spanprojetos">Criador: Brendan Eich</span>
                <span class="spanprojetos">Link para site oficial: <a class="aprojetos" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">JavaScript</a></span>
                <span class="spanprojetos">Descrição: JavaScript® (às vezes abreviado para JS) é uma linguagem leve, interpretada e baseada em objetos com funções de primeira classe, mais conhecida como a linguagem de script para páginas Web</span>
            </li>


        </ul>
    </div>


{% endblock %}