{% extends 'portfolio/layout.html' %}

{% block main %}

<div class="wrapper">
    <h1 class="h1projetos">Sobre este Website</h1>
    <p class="projetos">Este website foi criado utilizando as seguintes tecnologias:</p>
    <ul class="ulprojetos">

        <li class="liprojetos">
            <strong>HTML:</strong> Hypertext Markup Language
            <br>
            <span>Ano de criação: 1991</span>
            <span>Criador: Tim Berners-Lee</span>
            <span>Link para site oficial: <a class="aprojetos" href="https://www.w3.org/html/">HTML</a></span>
            <span>Descrição: HTML é a linguagem de marcação utilizada para criar páginas web. É composta por uma série de elementos, como tags e atributos, que definem o conteúdo e a estrutura da página.</span>
        </li>

        <li class="liprojetos">
            <strong>CSS:</strong> Cascade Style Sheet
            <br>
            <span>Ano de criação: 1996</span>
            <span>Criador: Håkon Wium Lie</span>
                <span>Link para site oficial: <a class="aprojetos" href="https://www.w3.org/Style/CSS/">CSS</a></span>
            <span>Descrição: CSS é uma linguagem utilizada para estilizar páginas web. Permite definir a aparência de elementos HTML, como fontes, cores, bordas, margens e posicionamento.</span>
        </li>

        <li class="liprojetos">
            <strong>JS:</strong> JavaScript
            <br>
            <span>Ano de criação: 1995</span>
            <span>Criador: Brendan Eich</span>
                <span>Link para site oficial: <a class="aprojetos" href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript">JavaScript</a></span>
            <span>Descrição: JavaScript® (às vezes abreviado para JS) é uma linguagem leve, interpretada e baseada em objetos com funções de primeira classe, mais conhecida como a linguagem de script para páginas Web</span>
        </li>

        <li class="liprojetos">
            <strong>Py:</strong> Python
            <br>
            <span>Ano de criação: 1991</span>
            <span>Criador: Guido van Rossum</span>
                <span>Link para site oficial: <a class="aprojetos" href="https://www.python.org/">Python</a></span>
            <span>Descrição: Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte</span>
        </li>
    </ul>
</div>


{% endblock %}